

<ion-content class="ion-padding">
    <div>
      <div >
        <ion-button fill="clear" color="dark" size="small" > 
          <b><p >Sign In</p></b>
        </ion-button>
        <ion-button fill="clear" color="dark" size="small" routerLink="/signup" routerDirection="root"> 
        <p>Sign Up</p>
        </ion-button>
      </div>
      <div class="ion-padding">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-grid>
            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">E-Mail</ion-label>
                    <ion-input 
                    type="email" 
                    ngModel 
                    name="email"
                    required
                    email
                    #emailCtrl="ngModel"></ion-input>
                  
                  </ion-item>
                  <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" 
                  lines="none">
                    <p >Should be a valid email address.</p>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input 
                    type="password" 
                    ngModel 
                    name="password"
                    required
                    minlength="6"
                    #passwordCtrl="ngModel">
                  </ion-input>
                  </ion-item>
                  <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" 
                  lines="none">
                    <p >Should be at least 6 characters long.</p>
                  </ion-item>
                
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
               
                <ion-button type="submit" color="primary" (click)="onLogin()" expand="block" [disabled]="!f.valid" >
                  Login
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
     
      
    </div>
</ion-content>

